# teilweise von https://gist.github.com/octocat/9257657
.DS_STORE
.DS_Store
__MACOSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 
*.gif
*.GIF
*.ttf
*.woff
*.otf
*.ps
*.psd
*.PSD
*.svg
*.SVG
*.JPG
*.JPEG
*.jpg
*.jpeg
*.png
*.PNG
*.pdf
*.PDF
*.tgz
*.TGZ
*.tar.gz
*.zip
*.ZIP
*.gz
*.GZ
*.mp3
*.MP3
# *.sql
# *.SQL


cache/
cache/*.*
images/*.*
tmp/
tmp/*.*
usage/*.*
usage/
log/
logs/
backup/*.tar.gz
backup/*.tgz

